@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
}
html,
body {
  min-height: 100%;
}
body {
  background: radial-gradient(at top left, #f0bb28 0%, #b74848 100%);
  background-repeat: no-repeat;
}
p {
  line-height: 1.5em;
}

.details h2 {
  font-size: 3.5em;
  padding-top: 80px;
  padding-bottom: 20px;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}
.details p {
  padding-top: 20px;
  padding-bottom: 20px;
}
.details ul {
  padding-top: 20px;
  list-style-type: circle;
  padding-bottom: 20px;
}

.details table {
  margin-top: 20px;
}

.details td {
  border: 1px solid #ddd;
  padding: 8px;
}

.details tr:nth-child(even) {
  background-color: #f2f2f2;
}

.details tr:hover {
  background-color: #ddd;
}

.contact h2 {
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact h3 {
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}
